@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@300;400;700&display=swap');

:root {
    --bg: #111111;
    --bg2: #151515;
    --bg3: #333333;
    --fg: #ffffff;
    --fg2: #eeeeee;
    --fg3: #aaaaaa;
    --special: #33a1fd;
    --weapon: #fdca40;
    --potion: #ff6663;
    --monster: #b18dfe;
}

body {
    color: var(--fg);
}

html {
    font-size: 16px;
    overscroll-behavior: none;
}

html,
body,
#root {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg);
}

* {
    font-family: 'Cantarell', sans-serif;
    font-variant-ligatures: none;
    border-width: 0;
    border-style: solid;
    border-color: var(--bg3);
}

h1 {
    margin-block: 2rem;
}

h2 {
    margin-block: 0.5rem 0.5rem;
}

h3 {
    margin-block: 0.3rem 0.3rem;
}

p {
    margin: 0;
}

a {
    color: var(--fg);

    &:hover {
        color: var(--special);

        i {
            color: var(--special);
        }
    }

    &:visited {
        color: var(--fg3);
    }
}

i {
    color: var(--fg);
}

button:focus, input:focus, select:focus {
    outline: 1px solid var(--special);
}

input,
textarea {
    background-color: var(--bg2);
    color: var(--fg);
    border-width: 1px;
    font-size: 1rem;
}

button {
    background-color: var(--bg2);
    color: var(--fg);
    border-width: 1px;
    font-size: 1rem;
    outline: none;

    &:hover {
        border-color: var(--special);
    }

    &:disabled {
        color: var(--fg3);

        &:hover {
            background-color: var(--bg2);
        }
    }

    &.active {
        color: var(--special);
        border-color: var(--special);
    }
}

select {
    background: var(--bg2);
    color: var(--fg);
    outline: none;
    border-width: 1px;
    font-size: 1rem;
}

#root {
    display: flex;
    justify-content: center;
}

.game {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    header {
        display: flex;
        flex-direction: column;
        font-size: 3rem;
        text-align: center;
    }

    .piles {
        display: flex;
        justify-content: space-between;

        .pile {
            display: flex;
            width: 5rem;
            height: 5rem;
            background-color: var(--bg);
            color: var(--fg3);
            border: 2px solid;
            font-size: 1.5rem;
            cursor: pointer;
            user-select: none;

            span {
                margin: 0.25rem;
            }

            &.empty {
                color: var(--bg3);
            }

            &.barehand {
                color: var(--monster);
            }
        }
    }

    .room {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 2px solid;
        width: 5rem;
        height: 5rem;
        font-size: 1.rem;
        cursor: pointer;
        user-select: none;

        .value {
            font-size: 2.5rem;
            margin-bottom: -.5rem;
        }

        &.empty {
            color: var(--bg3);
        }
    }

    .tools {
        display: flex;
        justify-content: space-between;

        .equipped {
            display: flex;
            gap: 1rem;

            .slain {
                position: relative;

                .card {
                    position: absolute;
                }
            }
        }

        .stats {
            display: flex;
            flex-direction: column;
            align-self: flex-end;
            font-size: .8rem;

            .stat {
                display: flex;
                justify-content: flex-end;

                span {
                    display: inline-block;
                    min-width: 7ch;
                    text-align: right;
                }
            }
        }
    }

    footer {
        display: flex;
        font-size: .75rem;
        justify-content: space-between;
        color: var(--fg2);

        .controls, .credits {
            display: flex;
            flex-direction: column;
            flex-shrink: 1;
        }

        .controls {
            pre {
                background-color: var(--bg2);
                border: 1px solid var(--bg3);
                font-family: monospace;
                font-weight: bold;
                display: inline-flex;
                border-radius: 2px;
                margin: 0;
                padding: 0 .3rem;
            }
        }

        .credits {
            text-align: right;
        }
    }

    .card, .stat span {
        &.monster {
            color: var(--monster);
        }

        &.potion {
            color: var(--potion);
        }

        &.weapon {
            color: var(--weapon);
        }
    }
}

@media (max-width: 400px) {
    html {
        font-size: 4vw;
    }
}
