@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@300;400;700&display=swap');

:root {
    --bg: #111111;
    --bg2: #151515;
    --bg3: #333333;
    --fg: #ffffff;
    --fg2: #eeeeee;
    --fg3: #aaaaaa;
    --special: #33a1fd;
    --weapon: #fdca40;
    --potion: #ff6663;
    --monster: #b18dfe;
}

body {
    background-color: var(--bg);
    color: var(--fg);
}

html {
    font-size: 16px;
    overscroll-behavior: none;
}

html,
body,
#root {
    margin: 0;
    width: 100%;
    height: 100%;
}

* {
    font-family: 'Cantarell', sans-serif;
    font-variant-ligatures: none;
    border-width: 0;
    border-style: solid;
    border-color: var(--bg3);
}

h1 {
    margin-block: 2rem;
}

h2 {
    margin-block: 0.5rem 0.5rem;
}

h3 {
    margin-block: 0.3rem 0.3rem;
}

p {
    margin: 0;
}

a {
    color: var(--fg);

    &:hover {
        color: var(--special);

        i {
            color: var(--special);
        }
    }
}

i {
    color: var(--fg);
}

button:focus, input:focus, select:focus {
    outline: 1px solid var(--special);
}

input,
textarea {
    background-color: var(--bg2);
    color: var(--fg);
    border-width: 1px;
    font-size: 1rem;
}

button {
    background-color: var(--bg2);
    color: var(--fg);
    border-width: 1px;
    font-size: 1rem;

    &:hover {
        border-color: var(--special);
    }

    &:disabled {
        color: var(--fg3);

        &:hover {
            background-color: var(--bg2);
        }
    }

    &.active {
        color: var(--special);
        border-color: var(--special);
    }
}

select {
    background: var(--bg2);
    color: var(--fg);
    outline: none;
    border-width: 1px;
    font-size: 1rem;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.game {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .piles {
        display: flex;
        justify-content: space-between;

        .pile {
            display: flex;
            width: 7rem;
            height: 7rem;
            background-color: var(--bg);
            color: var(--fg3);
            border: 2px solid;
            font-size: 1.5rem;
            cursor: pointer;
            user-select: none;

            span {
                margin: 0.5rem;
            }

            &.empty {
                color: var(--bg3);
            }
        }
    }

    .room {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 2px solid;
        width: 7rem;
        height: 7rem;
        font-size: 1.5rem;
        cursor: pointer;
        user-select: none;

        .value {
            font-size: 2.5rem;
        }

        &.empty {
            color: var(--bg3);
        }

        &.monster {
            color: var(--monster);
        }

        &.potion {
            color: var(--potion);
        }

        &.weapon {
            color: var(--weapon);
        }
    }

    .equipped {
        display: flex;
        gap: 2rem;

        .slain {
            position: relative;

            .card {
                position: absolute;
            }
        }
    }

    .stats {
        width: fit-content;

        td:last-child {
            text-align: right;
        }
    }
}
