@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@300;400;700&display=swap');

:root {
    --bg: #ffffff;
    --bg2: #f6f6f6;
    --bg3: #dddddd;
    --fg: #000000;
    --fg2: #111111;
    --fg3: #444444;
    --special: #c955e7;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #111111;
        --bg2: #151515;
        --bg3: #333333;
        --fg: #ffffff;
        --fg2: #eeeeee;
        --fg3: #aaaaaa;
        --special: #e975ff;
    }
}

body {
    background-color: var(--bg);
    color: var(--fg);
}

html {
    font-size: 16px;
    overscroll-behavior: none;
}

html,
body,
#root {
    margin: 0;
    width: 100%;
    height: 100%;
}

* {
    font-family: 'Space Mono', monospace;
    font-variant-ligatures: none;
    border-width: 0;
    border-style: solid;
    border-color: var(--bg3);
}

h1 {
    margin-block: 2rem;
}

h2 {
    margin-block: 0.5rem 0.5rem;
}

h3 {
    margin-block: 0.3rem 0.3rem;
}

p {
    margin: 0;
}

a {
    color: var(--fg);

    &:hover {
        color: var(--special);

        i {
            color: var(--special);
        }
    }
}

i {
    color: var(--fg);
}

button:focus, input:focus, select:focus {
    outline: 1px solid var(--special);
}

input,
textarea {
    background-color: var(--bg2);
    color: var(--fg);
    border-width: 1px;
    font-size: 1rem;
}

button {
    background-color: var(--bg2);
    color: var(--fg);
    border-width: 1px;
    font-size: 1rem;

    &:hover {
        border-color: var(--special);
    }

    &:disabled {
        color: var(--fg3);

        &:hover {
            background-color: var(--bg2);
        }
    }

    &.active {
        color: var(--special);
        border-color: var(--special);
    }
}

select {
    background: var(--bg2);
    color: var(--fg);
    outline: none;
    border-width: 1px;
    font-size: 1rem;
}

#root {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .1rem;

    .section {
        display: flex;
        align-items: center;
        gap: .2rem;
    }

    .path {
        white-space: nowrap;
        overflow-x: auto;
    }
}

.directory {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.rendered {
    overflow: auto;
}

textarea {
    height: 100%;
    margin: 0;
    padding: 1ch;
    border-width: 0;
    resize: none;
}
